* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php* text=auto eol=lf

*.php linguist-language=PHP
*.blade.php linguist-language=PHP

*.css linguist-language=CSS
*.js linguist-language=JavaScript

node_modules/* linguist-vendored
public/build/* linguist-generated

public/build/* linguist-generated=true
*.map linguist-generated=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
